:root {
  font-size: 16px;
  --font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --border-radius: 4px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

header {
  grid-column: span 3;
  text-align: center;
  font-size: 1.4em;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

nav {
  background-color: var(--bg-secondary);
  padding: 20px;
}

aside {
  padding: 20px;
  background-color: var(--bg-secondary);
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

a {
  text-decoration: none;
  color: var(--text-secondary);
}

a:visited {
  color: var(--text-secondary);
}

a:hover {
  color: var(--text-secondary);
}

manga-overview nav {
  overflow: visible;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

manga-overview nav ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

manga-overview nav ol li {
  list-style: none;
  padding: 12px;
  background-color: var(--bg-primary);
  border-radius: var(--border-radius);
}

manga-overview nav ol a {
  display: block;
  text-align: center;
}

manga-overview ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 16px;
  padding: 16px;
  margin: 0px;
  list-style: none;
}

manga-overview ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-animation-name: my-fade-in;
          animation-name: my-fade-in;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  border-radius: var(--border-radius);
}

manga-overview ul li a {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

manga-overview ul li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
  overflow: none;
}

manga-overview ul li a h1 {
  margin: 24px;
  font-size: 1.3em;
  text-align: justify;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 512px) {
  manga-overview ul {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  manga-overview ul {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  manga-overview ul {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@-webkit-keyframes my-fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes my-fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

manga-info h1 {
  padding: 12px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

manga-info img {
  width: 100%;
}

manga-info p {
  padding: 12px;
}

manga-info li {
  padding: 12px;
}

@media (min-width: 768px) {
  manga-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  manga-info h1 {
    grid-column: span 2;
  }
  manga-info img {
    display: inline-block;
  }
  manga-info ol {
    grid-column: span 2;
  }
}

manga-chapter nav {
  overflow: visible;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

manga-chapter nav ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

manga-chapter nav ol li {
  list-style: none;
  padding: 12px;
  background-color: var(--bg-primary);
  border-radius: var(--border-radius);
}

manga-chapter nav ol a {
  display: block;
  text-align: center;
}

manga-chapter .chapter-images img {
  width: 100%;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */